body {
	font-family: ".SF NS Text";
	font-size: 15px;
}

/** HEADER **/

header {
	height: 80px;
}

.topbar {
	background-color: #207DDA;
	color: #FFFFFF;
	text-align: center;
}

.topbar-user {
	text-align: left;
}

.topbar-item {
	padding-top: 30px !important;
	height: 80px;
	border-right: 1px solid #FFFFFF;
}

.bitmap {
	height: 80px;
	width: 153px;
	left: 0px;
	position: absolute;
}

.dois {
	width: 43px;
	color: #555D61;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 17px;
	position: absolute;
	top: 35px;
	left: 141px;
}

/** MENU **/

.menu {
	background-color: #FFFFFF;
	padding: 20px;
	border: 1px solid #D4D4D4;
}

.menu li {
	margin-bottom: 15px;
	font-size: 14px;
	color: #555D61;
}

.menu-main-title {
	font-weight: 900;
}

.menu-title {
	font-family: ".SF NS Text";
	font-size: 15px;
}

.menu .submenu {
	padding-top: 10px;
}

.menu .submenu li {
	padding-left: 10px;
}

/** CONTENT **/

.content {
	background-color: #F0F0F0;
}

.content-title {
	font-family: "San Francisco";
	color: #1C4265;
	font-size: 38px;
	padding: 20px;
	height: 45px;
	width: 277px;
	letter-spacing: -1px;
	line-height: 45px;
}

.pacc {
	height: 140px;
	margin: 30px;
}

.pacc .pacc-sub {
	padding: 10px;
}

.pacc hr {
	border: 1px solid #EDEDED;
}

@font-face {
	font-family: "Lato";
	font-weight: 100;
	src: url("https://fonts.googleapis.com/css?family=Lato");
}


.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }   
  } 
}

.ui-chkbox .ui-chkbox-box {
	width: 16px;
	height: 16px;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2px;
	margin-right: 10px;
}

.ui-chkbox .ui-state-active .ui-icon {
	background-image: url(../../../resources/img/pacc/blueCheck.svg)
		!important;
	padding: 0px;
	background: #fff no-repeat;
	background-image: none;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto auto;
	background-image: none;
	background-size: auto auto;
	background-size: 95%;
	background-position: center;
	padding: 0px;
}

/* Botao checkbox */
.ui-chkbox .ui-state-default {
	outline: 1px solid #c5dbec !important;
	border: none;
	background: none !important;
}

.ui-chkbox .ui-state-active,.ui-chkbox .ui-state-hover {
	outline: 2px solid #c5dbec !important;
	background: none !important;
	border: none;
}

.ui-selectmanycheckbox.ui-grid label,.ui-selectoneradio.ui-grid label {
	display: inline-block;
	margin-left: 0px;
	vertical-align: top;
	margin-right: 15px;
}

.ui-helper-clearfix {
	display: block;
}

.ui-helper-clearfix {
	display: inline-block;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ui-panelmenu .ui-panelmenu-header a {
	display: block;
	padding: .5em .5em .5em 2.2em;
	font-family: Lato;
	color: #555D61;
	background: white;
}

.ui-state-hover {
	box-shadow: red;
	border: none;
	box-shadow: #555D61;
}

.ui-state-hover a,.ui-state-hover a:hover {
	color: #555D61;
	text-decoration: none;
	background: white;
	background-color: white;
}

.ui-state-default {
	border: none;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	border: none;
	background: #c4c4c4
		url(/template-ford/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo)
		50% 50% repeat-x;
	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #c4c4c4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	font-weight: bold;
	color: #4f4f4f;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-panelmenu .ui-panelmenu-content {
	border: none;
}

.ui-menuitem-text {
	height: 17px;
	width: 63px;
	color: #555D61;
	font-family: Lato sans-serif;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 17px;
	padding-left: 12px;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
	{
	border: 0px solid #ffffff;
	background: #ffffff
		url("/template-ford/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.xhtml?ln=primefaces-aristo")
		50% 50% repeat-x;
	background: #555D61 linear-gradient(top, rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0));
	background: #ffffff
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.6)), to(rgba(255, 255, 255, 0)));
	background: #ffffff -moz-linear-gradient(top, rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0));
	font-weight: bold;
	color: #ffffff;
	-moz-box-shadow: 0 0 5px #85b2cb;
	-webkit-box-shadow: 0 0 8px #85b2cb;
	box-shadow: 0 0 0px #ffffff
}

* {
	box-sizing: border-box;
}


.ui-menuitem-outline {
    outline: none !important;
    z-index: 0 !important;
}