<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>Template</title>

	<h:outputStylesheet library="css" name="reset.css" />
	<h:outputStylesheet library="css" name="layout.css" />
	<h:outputStylesheet library="primefaces" name="grid/grid.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato"
		rel="stylesheet" />
</h:head>

<h:body>

	<div class="ui-grid  ui-grid-responsive">

		<header class="ui-grid-row">
			<div class="ui-grid-col-3">
				<h:graphicImage library="images" name="Ford-logo-2003-1366x768.png"
					styleClass="bitmap" />
				<label class="dois">DOIS</label>
			</div>
			<div class="ui-grid-col-9 topbar">
				<div class="ui-g">
					<div class="ui-g-6 topbar-item topbar-user">Gestor Roberto
						Lima</div>
					<div class="ui-g-2 topbar-item">Imprimir</div>
					<div class="ui-g-2 topbar-item">Atividades</div>
					<div class="ui-g-2 topbar-item">Sair</div>
				</div>
			</div>
		</header>

		<div class="ui-grid-row">
			<aside class="ui-grid-col-3 menu">
				<h:form id="frmMenuPACC">
					<p:panelMenu style="width:300px">
						<p:submenu label="Performance" styleClass="menu-pacc"/>
						<p:submenu label="Busca de Distribuidor" styleClass="menu-pacc"/>
						<p:submenu label="Parque Circulante" styleClass="menu-pacc">
							<p:menuitem value="Pesquisar" />
							<p:menuitem value="Distribuir" />
							<p:menuitem value="Histórico de Distribuição" />
						</p:submenu>
						<p:submenu label="Objetivo" styleClass="menu-pacc">
							<p:menuitem value="Cadastrar" />
							<p:menuitem value="Retenção" />
						</p:submenu>
						<p:submenu label="PACC" styleClass="menu-pacc">
							<p:menuitem value="Fabricar" />
							<p:menuitem value="Comparação" />
							<p:menuitem value="Fabricados" />
							<p:menuitem value="Realizados" />
						</p:submenu>
					</p:panelMenu>
				</h:form>
			</aside>

			<section class="ui-grid-col-9">
				<ui:insert name="content"></ui:insert>
			</section>

		</div>
	</div>

</h:body>

</html>