<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h1 class="content-title">Fabricar PACC</h1>

	<h:form>
		<p:messages autoUpdate="false" />

		<div class="ui-fluid">
			<p:panelGrid columns="2" layout="grid"
				columnClasses="ui-grid-col-2, ui-grid-col-10"
				styleClass="ui-panelgrid-blank">

				<p:outputLabel value="Nacional" styleClass="label-conteudo" />
				<p:selectManyCheckbox layout="responsive" columns="5">
					<f:selectItem itemLabel="Automóveis" />
					<f:selectItem itemLabel="Caminhões" />
					<f:selectItem itemLabel="Distribuidor independente de peças" />
				</p:selectManyCheckbox>

				<p:outputLabel value="Regionais" styleClass="label-conteudo" />
				<p:selectManyCheckbox layout="responsive" columns="5">
					<f:selectItem itemLabel="Seleto" />
					<f:selectItem itemLabel="Central" />
					<f:selectItem itemLabel="Sul" />
					<f:selectItem itemLabel="Leste" />
					<f:selectItem itemLabel="São Paulo" />
				</p:selectManyCheckbox>

			</p:panelGrid>

			<p:panelGrid columns="2" layout="grid"
				columnClasses="ui-grid-col-6, ui-grid-col-6"
				styleClass="ui-panelgrid-blank">

				<h:panelGroup id="panelSetor" layout="block" styleClass="ui-fluid">
					<p:outputLabel value="Setor" />
					<p:selectOneMenu id="selectMenuSetor"
						style="width: 237px; margin-left: 43px;">
						<f:selectItem itemLabel="01" />
						<f:selectItem itemLabel="02" />
						<f:selectItem itemLabel="03" />
						<f:selectItem itemLabel="04" />
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup id="panelGrupo" layout="block" styleClass="ui-fluid">
					<p:outputLabel value="Grupo" />
					<p:selectOneMenu id="selectMenuGrupo"
						style="width: 237px;margin-left: 43px;">
						<f:selectItem itemLabel="A" />
						<f:selectItem itemLabel="B" />
						<f:selectItem itemLabel="C" />
						<f:selectItem itemLabel="D" />
					</p:selectOneMenu>
				</h:panelGroup>

			</p:panelGrid>

			<p:panelGrid id="gridDistribuidor" columns="2"
				columnClasses="ui-grid-col-2, ui-grid-col-10"
				styleClass="ui-panelgrid-blank" layout="grid">

				<p:outputLabel value="Distribuidor" styleClass="label-conteudo" />
				<p:selectOneMenu id="selectMenuDistribuidor">
					<f:selectItem itemLabel="Distribuidor A" />
					<f:selectItem itemLabel="Distribuidor B" />
					<f:selectItem itemLabel="Distribuidor C" />
					<f:selectItem itemLabel="Distribuidor D" />
				</p:selectOneMenu>

			</p:panelGrid>

			<p:panelGrid id="gridNomeVersao" columns="2"
				columnClasses="ui-grid-col-12, ui-grid-col-12"
				styleClass="ui-panelgrid-blank" layout="grid">

				<h:panelGroup id="name">
					<p:outputLabel value="Nome do PACC" />
					<p:inputText disabled="true" value="2017" />
				</h:panelGroup>

				<h:panelGroup id="version">
					<p:outputLabel value="Versão" style="padding-right: 19px;" />
					<p:inputText disabled="true" value="2017.1" />
				</h:panelGroup>

			</p:panelGrid>

			<p:panelGrid id="gridBtnFabricar" columns="1"
				columnClasses="ui-grid-col-4" styleClass="ui-panelgrid-blank"
				layout="grid">

				<p:commandButton value="Fabricar PACC" />

			</p:panelGrid>


			<p:dataTable>
				<p:column headerText="Versão">
					<h:outputText value="#{car.id}" />
				</p:column>

				<p:column headerText="Regionais">
					<h:outputText value="#{car.year}" />
				</p:column>

				<p:column headerText="Brand">
					<h:outputText value="#{car.brand}" />
				</p:column>

				<p:column headerText="Color">
					<h:outputText value="#{car.color}" />
				</p:column>
			</p:dataTable>


		</div>
	</h:form>

</ui:composition>